


.content{
  max-width: 800px;
  margin: auto;
}

  body {
    background-color: #c5d7bd;
  }

  hr{
    border-color:black;

  }


.image{
  margin:20px
}

  table, th, td {
  border: 1px solid black;
  text-align: left;
}
  table{
    border-collapse: collapse;
    width: 100%;
  }


  th{
    height: 70px;
    font-family: "Lucida Console";
    font-style: italic;

  }

  td{
    height: 35px;
    font-family: "Monaco";
  }

  th, td{
    padding: 10px;
  }

  tr:hover {background-color: #a4ebf3;}
  tr:nth-child(even) {background-color: #c7ffd8;}



  .header1 {
  background-color: #54e346;
  color: white;
}

.header2 {
background-color: #54e346;
color: white;
}

.header3 {
background-color: #e9b0df;
color: white;
}

.header4 {
background-color: #822659;
color: white;
}

h1{
  text-shadow: 2px 2px 5px #51c2d5 ;

}



.footer{
  background-color: #f9f871;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  color: #09015f
}

.button{
 background-color: blue;

 color: white;
 padding: 5px 10px;
 text-align: center;
 font-size: 12px;
 margin: 4px 2px;
 cursor: pointer;
}

.header5{
  background-color: #2be5a6;
  color: white;
}
